.landing__cards-section {
    background-image: url('https://trello-attachments.s3.amazonaws.com/5f8ca3639574d3550b3ad495/5f9cb0e6b6fed24123256da4/0b8e26d4a2c2c4c7153d8a08020b31c9/New_Project.jpg');
    background-position: top;
	background-repeat: no-repeat;
    background-size: cover;
    height: 470px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid white;
}