.loading-gif {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	border-radius: 10px;
	z-index: 1;
}

.loading-gif__image {
	width: 40%;
	height: auto;
	border-radius: 10px;
}
