.body-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-container {
	margin-top: 20px;
	width: 80%;
}

#searchBar {
	width: 100%;
}

.card-gallery {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	padding-inline-start: 0;
	padding: 0 20px;
}

.card-gallery li {
	list-style: none;
	margin: 10px;
}

li img {
	width: 250px;
}
