body {
    padding: 0;
    margin: 0;
    background-color: rgb(245, 245, 245);
}

.detailcard-container {
	display: flex;
	position: relative;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 600px;
	background-image: url('https://trello-attachments.s3.amazonaws.com/5f8ca3639574d3550b3ad495/5f9cb0e6b6fed24123256da4/0b8e26d4a2c2c4c7153d8a08020b31c9/New_Project.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 2px solid white;
}

.opacity {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
}

.description__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid grey;
}

.detailcard-container__image {
    width: 400;
    z-index: 1;
}

.detailcard-container__description {
    z-index: 1;
    color: white;
    width: 40%;
    padding: 20px 60px;
    background-color: rgba(0, 0, 0, 0.6);
	border-radius: 25px 0px 0px 25px;
}

#image__poke-card {
    max-width: 300px;
    min-width: 200px;
}

.detail-container__description {
    width: 100%;
}

.pokemon-card__description {
    margin-top: 10px;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.pokemon__other-type {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.energy {
    background-image: url(https://pokemontcg.io/static/media/energy-types.f0fdba3b.png);
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 3px;
}

.energy.Fire {
    background-position: 0 0;
}

.energy.Darkness {
    background-position: 0 -50px;
}

.energy.Colorless {
    background-position: -25px 0;
}

.energy.Fighting {
    background-position: -50px -25px;
}

.energy.Psychic {
    background-position: -75px -25px;
}

.energy.Grass {
    background-position: -25px -50px;
}

.energy.Lightning {
    background-position: -50px -50px;
}

.energy.Metal {
    background-position: -75px 0;
}

.energy.Water {
    background-position: -75px -50px;
}

.energy.Fairy {
    background-position: -50px 0;
}

.energy.Dragon {
    background-position: 0 -25px;
}

@media screen and (max-width: 900px) {

    .detailcard-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1000px;
    }

    .detailcard-container__description {
        margin-top: 20px;
        width: 80%;
    }
    
}

@media screen and (max-width: 690px) {
    .detailcard-container__description {
        padding: 10px 20px;
    }
}