body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

.cardSection__images {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	width: 50%;
	z-index: 1;
}

.images__title > h2 {
	text-transform: capitalize;
	font-size: 25px;
	color: rgb(251, 215, 67);
	text-shadow: 2px 0 0 rgb(54, 59, 129), -2px 0 0 rgb(54, 59, 129),
		0 2px 0 rgb(54, 59, 129), 0 -2px 0 rgb(54, 59, 129),
		1px 1px rgb(54, 59, 129), -1px -1px 0 rgb(54, 59, 129),
		1px -1px 0 rgb(54, 59, 129), -1px 1px 0 rgb(54, 59, 129);
	padding-bottom: 5px;
}

.images__title {
	transition: transform 0.2s;
}

.images__title > p {
	color: white;
}

.images__title:hover {
	transform: scale(1.1);
}

.title__link:link,
.title__link:visited,
.title__link:active {
	outline-style: none;
	text-decoration: none;
}

.images__cards {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.cards__png-info {
	width: 90%;
	max-width: 200px;
	height: auto;
	max-height: 275px;
	cursor: pointer;
	transition: transform 0.2s;
	border-radius: 5px;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.cards__png-info:hover {
	transform: scale(1.1);
}

#button-search__cards-home {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 20px;
	font-size: 16px;
	color: white;
	font-weight: 700;
	border: none;
	border-radius: 5px;
	outline-style: none;
	cursor: pointer;
	outline: none;
	background-color: #1e5799;
}

#button-search__cards-home:hover {
	background-color: #133863;
}

@media screen and (max-width: 900px) {
	#cards__png-info-2 {
		display: none;
	}
}

@media screen and (max-width: 690px) {
	.cardSection__images {
		width: 100%;
	}
}
