.deck {
    background-image: url('https://trello-attachments.s3.amazonaws.com/5f8ca3639574d3550b3ad495/5f9cb0e6b6fed24123256da4/9278b6e55d35c4a78a43a55956d0015b/deck-background.jpg');
    background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	overflow-y: hidden;
}