.cardsSection__myDeck__block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70%;
	width: 40%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px 0 0 25px;
	box-sizing: border-box;
	z-index: 1;
}
.cardsSection__myDeck__block:hover #title {
	color: rgb(251, 215, 67);
}

.cardsSection__myDeck__titleBlock {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardsSection__myDeck__title {
	color: white;
	font-weight: 900;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.cardsSection__myDeck {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	min-width: 197px;
	height: 70%;
}

.cardsSection__myDeck__deckBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: transform 0.2s;
}

.MyDeck-Links:link,
.MyDeck-Links:visited,
.MyDeck-Links:active {
	outline-style: none;
	text-decoration: none;
}

.cardsSection__myDeck__deckBlock:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.cardsSection__myDeck__deckBlock > img {
	width: 30%;
	min-width: 140px;
}

.cardsSection__myDeck__deckBlock__title {
	height: auto;
	text-transform: capitalize;
	font-size: 2vw;
	color: rgb(251, 215, 67);
	text-shadow: 2px 0 0 rgb(54, 59, 129), -2px 0 0 rgb(54, 59, 129),
		0 2px 0 rgb(54, 59, 129), 0 -2px 0 rgb(54, 59, 129),
		1px 1px rgb(54, 59, 129), -1px -1px 0 rgb(54, 59, 129),
		1px -1px 0 rgb(54, 59, 129), -1px 1px 0 rgb(54, 59, 129);
	padding-bottom: 5px;
}

@media (max-width: 690px) {
	.cardsSection__myDeck__block {
		width: 80%;
		height: 40%;
		margin: 10px 0;
		border-radius: 25px;
	}

	.cardsSection__myDeck__title {
		font-size: 20px;
	}
	.cardsSection__myDeck__deckBlock:hover {
		transform: scale(1.05);
	}
}
