.footer-container {
	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: space-around;
	align-items: flex-start;
	background: linear-gradient(
		to top,
		#1e5799 20%,
		#207cca 80%,
		#2989d8 100%,
		#7db9e8 100%
	);
	padding-bottom: 20px;
}

.footer-container h5 {
	text-align: center;
	font-size: 25px;
}

.footer__about-us,
.footer__follow {
	color: white;
}

.footer__about-us > p {
	margin-left: 15px;
}

.footer__info {
	display: flex;
	flex-direction: row;
	text-align: center;
}

.address,
.email,
.phone {
	padding: 0 30px;
}

.footer__follow ul {
	display: flex;
	flex-direction: row;
	padding-inline-start: 0;
}

.footer__follow li {
	display: flex;
	align-items: center;
	justify-content: space-around;
	list-style: none;
	width: 30px;
	height: auto;
	margin: 0 20px;
	cursor: pointer;
}

.footer__follow__img {
	width: 35px;
	height: auto;
	border-radius: 20px;
	padding: 10px;
}

.fa {
	color: white;
	font-size: 30px;
}

.email {
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.fa-map-marker,
.fa-envelope,
.fa-phone {
	font-size: 15px;
	margin-right: 10px;
}

.footer__about-us--headers {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 500px) {
	.address,
	.email,
	.phone {
		padding: 0 5px;
	}
}
