.decks__card-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 100px 0;
    padding-top: 50px;
}

.deckCard__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px black;
    transition: transform 0.3s;
}

.deckCard__container:hover {
    transform: scale(1.1);
}

.deckCard__image {
    width: 200px;
    border-radius: 10px;
}

.deckard__remove-button {
    width: 30px;
    height: 20px;
    background-color: hotpink;
}

@media screen and (max-width: 690px) {
    .deckCard__image {
		width: 150px;
	}
}