.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vw;
    z-index: 800;
}

.login__block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 70%;
    margin: 50px;
    color: rgb(251, 215, 67);
    text-shadow: 2px 0 0 rgb(54, 59, 129), -2px 0 0 rgb(54, 59, 129), 0 2px 0 rgb(54, 59, 129), 0 -2px 0 rgb(54, 59, 129), 3px 1px rgb(54, 59, 129), -1px -1px 0 rgb(54, 59, 129), 2px -1px 0 rgb(54, 59, 129), -1px 2px 0 rgb(54, 59, 129);
    border-radius: 20px;
}

.login__block__zoom-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.5s;
    cursor: pointer;
}

.login__block__zoom-block > h1 {
    text-align: center;
}

.login__block__zoom-block:hover {
    transform: scale(1.1);
}

.login__block__zoom-block:hover .login__block__img{
    transform: rotate(360deg);
}

.login__block__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    background-image: url('https://trello-attachments.s3.amazonaws.com/5f8ca3639574d3550b3ad495/5f9cb0e6b6fed24123256da4/e5d406877369803738ddacdbb58fc17b/icons8-pikachu-pokemon-96.png');
    background-size: cover;
    transition: transform 0.5s;

}